.options ul {
    border: 1px solid #0A2472;
    border-radius: 6px;
}

.options ul li {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.04em;
}

.content-box {
    border: 1px solid #0A2472;
    border-bottom: 5px solid #0A2472;
    border-radius: 6px;
}

.content-box span {
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
}