<div class="row py-4 px-5 title-border">
    <div class="col-md-6 p-0">
        <h1 class="view-h1">Leave Type Configuration - Notification</h1>
    </div>
    <div class="col-md-6 d-flex justify-content-end align-items-center pb-2 position-relative">
        <!-- <span class="me-5">
            <a class="add-button" uk-toggle="target: #add-notification" type="button">
                <img class="icon-display mb-1" src="./assets/icons/plus.svg" height="15px" width="15px">
                <span class="add-btn ms-2">Add Notification</span>
            </a>
        </span> -->
    </div>
    <!-- <div class="border-2pxblue mt-2"></div> -->
</div>
<div class="row mb-3">
    <div class="px-4 pt-3">
        <div class="px-5">
            <ul class="uk-tab justify-content-center mx-auto justify-content-between"
                data-uk-tab="{connect:'#approval'}" uk-switcher="animation:uk-animation-fade">
                <li class="uk-active">
                    <a class="" href="#application-noti">Application Notification</a>
                </li>
                <li>
                    <a class="" href="#approval-noti">Approval Notification</a>
                </li>
                <li>
                    <a class="" href="#pending-noti">Pending Notification</a>
                </li>
                <li>
                    <a class="" href="#encash-noti">Encash Approval Notification</a>
                </li>
            </ul>
            <ul class="uk-flex-center uk-switcher uk-margin" id="approval">
                <li class="uk-active" id="application-noti">
                    <div class="text-end both-button">
                        <span class="me-5">
                            <a class="add-button" uk-toggle="target: #add-app-noti" type="button">
                                <img class="icon-display mb-1" src="./assets/icons/plus.svg" height="15px" width="15px">
                                <span class="add-btn ms-2">Add Application Notification</span>
                            </a>
                        </span>
                    </div>
                    <div class="view-table px-4 py-3">
                        <table class="data-table table">
                            <thead>
                                <tr>
                                    <th scope="col">Department</th>
                                    <th scope="col">Send Application Notification To</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of appNotiData | paginate: { itemsPerPage: limit, currentPage: currentPage, totalItems: count  };let i = index">
                                    <td>{{data?.leave_application_notification?.department_name}}</td>
                                    <td>{{data?.send_application_notification_to}}</td>
                                    <td class="cursor-pointer table-options">
                                        <button class="w-100 bg-white border-0">
                                            <img style="size: 4px;" src="./assets/icons/more2.svg" alt="">
                                        </button>
                                        <div uk-dropdown="mode: click;pos: bottom-right" class="dd-min-width">
                                            <ul class="uk-nav uk-dropdown-nav">
                                                <li class="">
                                                    <a (click)="openAppNoti(data)" class="uk-dropdown-close justify-content-center">Edit</a>
                                                </li>
                                                <li class="">
                                                    <a (click)="deleteAppNoti(data.id)" class="uk-dropdown-close justify-content-center">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row mt-4 mb-1">
                            <div class="d-flex justify-content-center align-items-end">
                                <!-- <span for="" class="me-2 mt-2"  style="font-weight: 300;">Items Per Page :</span>  -->
                                <!-- <ng-select class="form-control-pagination">
                                    <ng-option>1</ng-option>
                                    <ng-option>2</ng-option>
                                    <ng-option>3</ng-option>
                                </ng-select> -->
                                <pagination-controls class=" mt-2" (pageChange)="onPageChange($event)"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="" id="approval-noti">
                    <div class="text-end both-button">
                        <span class="me-5">
                            <a class="add-button" uk-toggle="target: #add-approval-noti" type="button">
                                <img class="icon-display mb-1" src="./assets/icons/plus.svg" height="15px" width="15px">
                                <span class="add-btn ms-2">Add Approval Notification</span>
                            </a>
                        </span>
                    </div>
                    <div class="view-table px-4 py-3">
                        <table class="data-table table">
                            <thead>
                                <tr>
                                    <th scope="col">Department</th>
                                    <th scope="col">Send Approval Notification To</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of approvalNotiData | paginate: { itemsPerPage: limit, currentPage: currentPage, totalItems: count  };let i = index">
                                    <td>{{data?.leave_approval_notification?.department_name}}</td>
                                    <td>{{data?.send_approval_notification_to}}</td>
                                    <td class="cursor-pointer table-options">
                                        <button class="w-100 bg-white border-0">
                                            <img style="size: 4px;" src="./assets/icons/more2.svg" alt="">
                                        </button>
                                        <div uk-dropdown="mode: click;pos: bottom-right" class="dd-min-width">
                                            <ul class="uk-nav uk-dropdown-nav">
                                                <li class="">
                                                    <a (click)="openApprovalNoti(data)" class="uk-dropdown-close justify-content-center">Edit</a>
                                                </li>
                                                <li class="">
                                                    <a (click)="deleteApprovalNoti(data.id)" class="uk-dropdown-close justify-content-center">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row mt-4 mb-1">
                            <div class="d-flex justify-content-center align-items-end">
                                <!-- <span for="" class="me-2 mt-2"  style="font-weight: 300;">Items Per Page :</span>  -->
                                <!-- <ng-select class="form-control-pagination">
                                    <ng-option>1</ng-option>
                                    <ng-option>2</ng-option>
                                    <ng-option>3</ng-option>
                                </ng-select> -->
                                <pagination-controls class=" mt-2" (pageChange)="onPageChange($event)"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="" id="pending-noti">
                    <div class="text-end both-button">
                        <span class="me-5">
                            <a class="add-button" uk-toggle="target: #add-pending-noti" type="button">
                                <img class="icon-display mb-1" src="./assets/icons/plus.svg" height="15px" width="15px">
                                <span class="add-btn ms-2">Add Pending Notification</span>
                            </a>
                        </span>
                    </div>
                    <div class="view-table px-4 py-3">
                        <table class="data-table table">
                            <thead>
                                <tr>
                                    <th scope="col">Department</th>
                                    <th scope="col">Send Pending Notification To</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of pendingNotiData | paginate: { itemsPerPage: limit, currentPage: currentPage, totalItems: count  };let i = index">
                                    <td>{{data?.leave_pending_notification?.department_name}}</td>
                                    <td>{{data.send_pending_notification_to}}</td>
                                    <td class="cursor-pointer table-options">
                                        <button class="w-100 bg-white border-0">
                                            <img style="size: 4px;" src="./assets/icons/more2.svg" alt="">
                                        </button>
                                        <div uk-dropdown="mode: click;pos: bottom-right" class="dd-min-width">
                                            <ul class="uk-nav uk-dropdown-nav">
                                                <li class="">
                                                    <a (click)="openPendingNoti(data)" class="uk-dropdown-close justify-content-center">Edit</a>
                                                </li>
                                                <li class="">
                                                    <a (click)="deletePendingNoti(data.id)" class="uk-dropdown-close justify-content-center">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row mt-4 mb-1">
                            <div class="d-flex justify-content-center align-items-end">
                                <!-- <span for="" class="me-2 mt-2"  style="font-weight: 300;">Items Per Page :</span>  -->
                                <!-- <ng-select class="form-control-pagination">
                                    <ng-option>1</ng-option>
                                    <ng-option>2</ng-option>
                                    <ng-option>3</ng-option>
                                </ng-select> -->
                                <pagination-controls class=" mt-2" (pageChange)="onPageChange($event)"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="" id="encash-noti">
                    <div class="text-end both-button">
                        <span class="me-5">
                            <a class="add-button" uk-toggle="target: #add-encash-noti" type="button">
                                <img class="icon-display mb-1" src="./assets/icons/plus.svg" height="15px" width="15px">
                                <span class="add-btn ms-2">Add Encash Notification</span>
                            </a>
                        </span>
                    </div>
                    <div class="view-table px-4 py-3">
                        <table class="data-table table">
                            <thead>
                                <tr>
                                    <th scope="col">Department</th>
                                    <th scope="col">Send Approval Notification To</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of encashNotiData | paginate: { itemsPerPage: limit, currentPage: currentPage, totalItems: count  };let i = index">
                                    <td>{{data?.leave_encash_approval_notification?.department_name}}</td>
                                    <td>{{data?.send_approval_notification_to}}</td>
                                    <td class="cursor-pointer table-options">
                                        <button class="w-100 bg-white border-0">
                                            <img style="size: 4px;" src="./assets/icons/more2.svg" alt="">
                                        </button>
                                        <div uk-dropdown="mode: click;pos: bottom-right" class="dd-min-width">
                                            <ul class="uk-nav uk-dropdown-nav">
                                                <li class="">
                                                    <a (click)="openEncashNoti(data)" class="uk-dropdown-close justify-content-center">Edit</a>
                                                </li>
                                                <li class="">
                                                    <a (click)="deleteEncashNoti(data.id)" class="uk-dropdown-close justify-content-center">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row mt-4 mb-1">
                            <div class="d-flex justify-content-center align-items-end">
                                <!-- <span for="" class="me-2 mt-2"  style="font-weight: 300;">Items Per Page :</span>  -->
                                <!-- <ng-select class="form-control-pagination">
                                    <ng-option>1</ng-option>
                                    <ng-option>2</ng-option>
                                    <ng-option>3</ng-option>
                                </ng-select> -->
                                <pagination-controls class=" mt-2" (pageChange)="onPageChange($event)"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<app-add-application-notification [isEditAppNoti]="isEditAppNoti"></app-add-application-notification>
<app-add-approval-notification [isEditApprovalNoti]="isEditApprovalNoti"></app-add-approval-notification>
<app-add-pending-notification [isEditPendingNoti]="isEditPendingNoti"></app-add-pending-notification>
<app-add-encash-notification [isEditEncashNoti]="isEditEncashNoti"></app-add-encash-notification>