<div class="row pt-4 px-5">
    <div class="col-md-6 p-0">
        <h1 class="view-h1 pt-2">Employee State Insurance</h1>
    </div>
    <div class="col-md-6 d-flex justify-content-end align-items-center pb-2">
        <span class="me-5">
            <a class="add-button px-4" uk-toggle="target: #add-esi" type="button">
                <img class="icon-display mb-1" src="./assets/icons/plus.svg" height="15px" width="15px">
                <span class="add-btn ms-2">Add ESI</span>
            </a>
        </span>
    </div>
    <!-- <div class="border-2pxblue"></div> -->
</div>
<div class="row pt-4 px-5">
    <div class="col-md-5 mx-auto">
        <div class="no-data">
            <div class="text-center">
                <div class="text-center">
                    <img src="./assets/images/no-data-1.png" alt="" class="mx-auto">
                </div>
                <h3 class="my-3">Are You Register for ESI...</h3>
                <span class="">Organisations having 10 or more employees must register for Employee State Insurance (ESI). This scheme
                    provides cash allowances and medical benefits for employees whose monthly salary is less than
                    ₹21,000.</span>
            </div>
        </div>
    </div>
</div>
<div class="row py-4 px-5 mb-5">
    <div class="col-md-9">
        <div class="p-4 bg-white border-bottom-blue">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <span class="bolder-span">ESI Number :</span>
                </div>
                <div class="col-md-5 mb-3">
                    <span>00-00-000000-000-0000</span>
                </div>
                <div class="col-md-1 text-end">
                    <a href=""><img src="./assets/icons/more2.svg" alt=""></a>
                </div>
                <div class="col-md-6 mb-3">
                    <span class="bolder-span">Deduction Cycle :</span>
                </div>
                <div class="col-md-6 mb-3">
                    <span>Monthly</span>
                </div>
                <div class="col-md-6 mb-3">
                    <span class="bolder-span">Employee Contribution Rate :</span>
                </div>
                <div class="col-md-6 mb-3">
                    <span>0.75 % Of Gross Pay </span>
                </div>
                <div class="col-md-6 mb-3">
                    <span class="bolder-span">Employer Contribution Rate :</span>
                </div>
                <div class="col-md-6 mb-3">
                    <span>3.25 % Of Gross Pay </span>
                </div>
                <div class="col-md-6 mb-3">
                    <span class="bolder-span">Other Details :</span>
                </div>
                <div class="col-md-6 mb-3">
                    <span>Employer's contribution is included in the CTC</span>
                </div>
            </div>
        </div>
    </div>
</div>
<app-add-employee-state-insurance></app-add-employee-state-insurance>