<!-- <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
</div> -->

<!-- <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_kqpwfbbz.json"
  background="transparent"  speed="1"  style="width: 300px; height: 300px;margin:auto"  loop  autoplay></lottie-player> -->
  
  <!-- <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_2svadkl0.json"
  background="transparent"  speed="1"  style="width: 300px; height: 300px;margin:auto"  loop  autoplay></lottie-player> -->

  <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_yruiskeb.json"
  background="transparent"  speed="1"  style="width: 200px; height: 200px;margin:auto; height: 70vh" class="d-flex justify-content-center align-items-center"  loop  autoplay></lottie-player>