<div class="row py-4 px-5 title-border">
    <div class="col-md-6 p-0">
        <h1 class="view-h1 pt-2">Employee</h1>
    </div>
    <div class="col-md-6 d-flex justify-content-end align-items-center pb-2">
        <span>
            <a class="add-button px-4" uk-toggle="target: #add-employee-payroll" type="button">
                <img class="icon-display mb-1" src="./assets/icons/plus.svg" height="15px" width="15px">
                <span class="add-btn ms-2">Add Employee</span>
            </a>
        </span>
    </div>
    <!-- <div class="border-2pxblue"></div> -->
</div>
<div class="row mx-4">
    <div class="view-table px-4 py-3">
        <table class="data-table table">
            <thead>
                <tr>
                    <th scope="col">Employee</th>
                    <th scope="col">Work Email</th>
                    <th scope="col">Department</th>
                    <th scope="col">Cost To Company</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr routerLink="/payroll/view-employee-payroll">
                    <td class="d-grid">Pratiksha
                        <span class="desig">Tester</span>
                    </td>
                    <td>pratiksha@gmail.com</td>
                    <td>IT & Software</td>
                    <td>Cost To Company</td>
                    <td>
                        <a href=""><img src="./assets/icons/more2.svg" alt=""></a>
                    </td>
                </tr>
                <tr>
                    <td class="d-grid">Kavita
                        <span class="desig">BA</span>
                    </td>
                    <td>kavita@gmail.com</td>
                    <td>IT & Software</td>
                    <td>Cost To Company</td>
                    <td>
                        <a href=""><img src="./assets/icons/more2.svg" alt=""></a>
                    </td>
                </tr>
                <tr>
                    <td class="d-grid">Monika
                        <span class="desig">Developer</span>
                    </td>
                    <td>monika@gmail.com</td>
                    <td>IT & Software</td>
                    <td>Cost To Company</td>
                    <td>
                        <a href=""><img src="./assets/icons/more2.svg" alt=""></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row mt-4 mb-1">
            <div class="d-flex justify-content-center align-items-end">
                <!-- <span for="" class="me-2 mt-2"  style="font-weight: 300;">Items Per Page :</span> 
                <ng-select class="form-control-pagination">
                    <ng-option>1</ng-option>
                    <ng-option>2</ng-option>
                    <ng-option>3</ng-option>
                </ng-select> -->
                <pagination-controls class=" mt-2" (pageChange)="onPageChange($event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>
<app-add-employee-payroll></app-add-employee-payroll>