<div class="row py-4 px-5 title-border">
    <div class="col-md-6 p-0">
        <h1 class="view-h1 pt-2">My Profile</h1>
    </div>
</div>
<div class="row py-4 px-5">
   <div class="col-12">
        <div class="card card-count border-0 p-4 px-4 mb-4">
           <div class="row">
            <div class="col-10">
                <div class="d-flex align-items-center">
                    <div class="profile-img me-3">
                        <img src="../../../../assets/icons/user.png" alt="">
                    </div>
                    <div>
                        <h3 class="profile-name mb-0">Siddharth Jain</h3>
                        <p class="mb-0 mt-0">Team manager</p>
                    </div>
                </div>
            </div>
            <div class="col-2 text-end">
                <div class="d-flex align-items-center justify-content-end edit-wrap">
                    <a class="text-black m-0">Edit <img src="../../../../assets/icons/edit.svg" class="edit-icon ms-2" alt=""></a> 
                </div>
            </div>
           </div>
        </div>
        <div class="card card-count border-0 p-4 px-4 mb-4">
            <h1 class="view-h1 pt-2 pb-4">Personal Information</h1>
            <div class="row mb-4">
                <div class="col-12 col-md-10">
                    <div class="row mb-3">
                        <div class="col-12 col-md-6">
                            <div>
                                <h4 class="m-0">First name</h4>
                                <p class="mt-1 mb-0">Siddharth</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <h4 class="m-0">Last name</h4>
                            <p class="mt-1 mb-0">Jain</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 col-md-6">
                            <div>
                                <h4 class="m-0">Email address</h4>
                                <p class="mt-1 mb-0">siddharth@gmail.com</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <h4 class="m-0">Phone</h4>
                            <p class="mt-1 mb-0">+91 98574398752</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-6">
                            <div>
                                <h4 class="m-0">Bio</h4>
                                <p class="mt-1 mb-0">Team Manager</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 text-end">
                    <div class="d-flex align-items-center justify-content-end edit-wrap">
                        <a class="text-black m-0">Edit <img src="../../../../assets/icons/edit.svg" class="edit-icon ms-2" alt=""></a> 
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-count border-0 p-4 px-4 mb-4">
            <h1 class="view-h1 pt-2 pb-4">Address</h1>
            <div class="row mb-4">
                <div class="col-12 col-md-10">
                    <div class="row mb-3">
                        <div class="col-12 col-md-6">
                            <div>
                                <h4 class="m-0">Country</h4>
                                <p class="mt-1 mb-0">India</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <h4 class="m-0">City/State</h4>
                            <p class="mt-1 mb-0">Mumbai, Maharashtra</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 col-md-6">
                            <div>
                                <h4 class="m-0">Postal code</h4>
                                <p class="mt-1 mb-0">458789</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <h4 class="m-0">Tax ID</h4>
                            <p class="mt-1 mb-0">AS87642</p>
                        </div>
                    </div>
                </div>
                <div class="col-2 text-end">
                    <div class="d-flex align-items-center justify-content-end edit-wrap">
                        <a class="text-black m-0">Edit <img src="../../../../assets/icons/edit.svg" class="edit-icon ms-2" alt=""></a> 
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>
