.profile-img {
    width: 95px;
}
.profile-img img {
    width: 100%;
}
.profile-name {
    font-weight: 500;
}
.edit-icon {
    width: 14px;
}
.edit-wrap a {
    border: 1px solid #ddd;
    border-radius: 18px;
    padding: 5px 10px;
}
.card {
    border-radius: 8px;
}