<div class="row py-4 px-5 title-border">
    <div class="col-md-6 p-0">
        <h1 class="view-h1">Denied Leaves</h1>
    </div>
    <!-- <div class="border-2pxblue mt-2"></div> -->
</div>
<div class="row px-4 pb-4">
    <div class="col-md-8 px-4">
        <div class="col-md-4 px-3">
            <div class="d-flex border-blue br-5">
                <!-- <img src="./assets/icons/search.svg" alt="" class="bg-search ps-3" height="35px" width="35px"> -->
                <input class="form-control w-100 py-2" type="search" placeholder="Search Employee">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 px-4 mt-4">
                <div class="card leave-card red-border">
                    <div class="card-header border-0 bg-white py-1 d-flex">
                        <div class="mx-1 mt-2">
                            <img src="./assets/icons/profile.svg" alt="" class="rounded-circle border-2pxblue">
                        </div>
                        <span class="d-grid mt-1">
                            <label class="user-name">User Name</label>
                            <label for="" class="user-desig">HR</label>
                        </span>
                        <div class="ms-auto pt-3">
                            <img src="./assets/icons/calendar.svg" alt="" class="me-2">
                            <span class="color-grey">01 Nov, 2021</span>
                        </div>
                    </div>
                    <div class="bg-alice px-3 py-1 d-flex justify-content-center text-center">
                        <div class="col-md-3">
                            <span>Nov</span><br>
                            <span><b>05</b></span><br>
                            <span>Fri</span><br>
                        </div>
                        <div class="col-md-6 pt-3">
                            <span>--------------------------<i class="fa fa-caret-right" aria-hidden="true"></i></span><br>
                            <span>1 day sick leave</span>
                        </div>
                        <div class="col-md-3">
                            <span>Nov</span><br>
                            <span><b>05</b></span><br>
                            <span>Fri</span><br>
                        </div>
                    </div>
                    <div class="card-body py-1">
                        <span>Lorem ipsum dolor sit amet . The graphic and typogra operators know this well in reality</span>
                    </div>
                    <div class="card-footer border-0 bg-white text-center">
                        <div class="text-center">
                            <button class="approved-btn">Approved</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 px-4 mt-4">
                <div class="card leave-card green-border">
                    <div class="card-header border-0 bg-white py-1 d-flex">
                        <div class="mx-1 mt-2">
                            <img src="./assets/icons/profile.svg" alt="" class="rounded-circle border-2pxblue">
                        </div>
                        <span class="d-grid mt-1">
                            <label class="user-name">User Name</label>
                            <label for="" class="user-desig">HR</label>
                        </span>
                        <div class="ms-auto pt-3">
                            <img src="./assets/icons/calendar.svg" alt="" class="me-2">
                            <span class="color-grey">01 Nov, 2021</span>
                        </div>
                    </div>
                    <div class="bg-alice px-3 py-1 d-flex justify-content-center text-center">
                        <div class="col-md-3">
                            <span>Nov</span><br>
                            <span><b>05</b></span><br>
                            <span>Fri</span><br>
                        </div>
                        <div class="col-md-6 pt-3">
                            <span>--------------------------<i class="fa fa-caret-right" aria-hidden="true"></i></span><br>
                            <span>1 day sick leave</span>
                        </div>
                        <div class="col-md-3">
                            <span>Nov</span><br>
                            <span><b>05</b></span><br>
                            <span>Fri</span><br>
                        </div>
                    </div>
                    <div class="card-body py-1">
                        <span>Lorem ipsum dolor sit amet . The graphic and typogra operators know this well in reality</span>
                    </div>
                    <div class="card-footer border-0 bg-white text-center">
                        <div class="text-center">
                            <button class="approved-btn">Approved</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 px-4 mt-4">
                <div class="card leave-card red-border">
                    <div class="card-header border-0 bg-white py-1 d-flex">
                        <div class="mx-1 mt-2">
                            <img src="./assets/icons/profile.svg" alt="" class="rounded-circle border-2pxblue">
                        </div>
                        <span class="d-grid mt-1">
                            <label class="user-name">User Name</label>
                            <label for="" class="user-desig">HR</label>
                        </span>
                        <div class="ms-auto pt-3">
                            <img src="./assets/icons/calendar.svg" alt="" class="me-2">
                            <span class="color-grey">01 Nov, 2021</span>
                        </div>
                    </div>
                    <div class="bg-alice px-3 py-1 d-flex justify-content-center text-center">
                        <div class="col-md-3">
                            <span>Nov</span><br>
                            <span><b>05</b></span><br>
                            <span>Fri</span><br>
                        </div>
                        <div class="col-md-6 pt-3">
                            <span>--------------------------<i class="fa fa-caret-right" aria-hidden="true"></i></span><br>
                            <span>1 day sick leave</span>
                        </div>
                        <div class="col-md-3">
                            <span>Nov</span><br>
                            <span><b>05</b></span><br>
                            <span>Fri</span><br>
                        </div>
                    </div>
                    <div class="card-body py-1">
                        <span>Lorem ipsum dolor sit amet . The graphic and typogra operators know this well in reality</span>
                    </div>
                    <div class="card-footer border-0 bg-white text-center">
                        <div class="text-center">
                            <button class="approved-btn">Approved</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 px-4 mt-4">
                <div class="card leave-card green-border">
                    <div class="card-header border-0 bg-white py-1 d-flex">
                        <div class="mx-1 mt-2">
                            <img src="./assets/icons/profile.svg" alt="" class="rounded-circle border-2pxblue">
                        </div>
                        <span class="d-grid mt-1">
                            <label class="user-name">User Name</label>
                            <label for="" class="user-desig">HR</label>
                        </span>
                        <div class="ms-auto pt-3">
                            <img src="./assets/icons/calendar.svg" alt="" class="me-2">
                            <span class="color-grey">01 Nov, 2021</span>
                        </div>
                    </div>
                    <div class="bg-alice px-3 py-1 d-flex justify-content-center text-center">
                        <div class="col-md-3">
                            <span>Nov</span><br>
                            <span><b>05</b></span><br>
                            <span>Fri</span><br>
                        </div>
                        <div class="col-md-6 pt-3">
                            <span>--------------------------<i class="fa fa-caret-right" aria-hidden="true"></i></span><br>
                            <span>1 day sick leave</span>
                        </div>
                        <div class="col-md-3">
                            <span>Nov</span><br>
                            <span><b>05</b></span><br>
                            <span>Fri</span><br>
                        </div>
                    </div>
                    <div class="card-body py-1">
                        <span>Lorem ipsum dolor sit amet . The graphic and typogra operators know this well in reality</span>
                    </div>
                    <div class="card-footer border-0 bg-white text-center">
                        <div class="text-center">
                            <button class="approved-btn">Approved</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <!-- <owl-date-time-inline [(ngModel)]="selectedMoment"></owl-date-time-inline> -->
    </div>
</div>