<section class="bg-white box-shadow px-4 py-3">
    <form action="">
        <fieldset class="uk-fieldset">
            <!-- <div class="text-end px-5">
                <a href="" data-bs-toggle="collapse" href="#additional" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    <img src="./assets/icons/plus.svg" alt="">
                </a>
            </div> -->
            <div class="row add">
                <div class="col-md-3 px-3 mt-5">
                    <div class="bg-input p-1 border-bottom-blue">
                        <label for="" class="form-label ps-2">Bank Name</label>
                        <div class="row g-0">
                            <div class="col-md-12">
                                <input type="text" class="form-control" formControlName="bank_name">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 px-3 mt-5">
                    <div class="bg-input p-1 border-bottom-blue">
                        <label for="" class="form-label ps-2">Account No</label>
                        <div class="row g-0">
                            <div class="col-md-12">
                                <input type="text" class="form-control" formControlName="account_no">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 px-3 mt-5">
                    <div class="bg-input p-1 border-bottom-blue">
                        <label for="" class="form-label ps-2">IFSC Code</label>
                        <div class="row g-0">
                            <div class="col-md-12">
                                <input type="text" class="form-control" formControlName="IFSC_code">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 px-3 mt-5">
                    <div class="bg-input p-1 border-bottom-blue">
                        <label for="" class="form-label ps-2">Branch</label>
                        <div class="row g-0">
                            <div class="col-md-12">
                                <input type="text" class="form-control" formControlName="branch">
                            </div>
                        </div>
                        <!-- <div class="row g-0">
                            <div class="col-md-11 ps-2">
                                <ng-select >
                                    <ng-option>Indian</ng-option>
                                    <ng-option>2</ng-option>
                                    <ng-option>3</ng-option>
                                </ng-select>
                            </div>
                            <div class="col-md-1">
                                <img src="./assets/icons/arrow-dropdown.svg" alt="" width="25px" height="25px" class="">
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- <div class="row add collapse" id="additional">
                <h6 class="px-5 mt-5"><b>00</b> Additional Information</h6>
                <div class="col-md-3 px-3 mt-5">
                    <div class="bg-input p-1 border-bottom-blue">
                        <label for="" class="form-label ps-2">Bank Name</label>
                        <div class="row g-0">
                            <div class="col-md-12">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 px-3 mt-5">
                    <div class="bg-input p-1 border-bottom-blue">
                        <label for="" class="form-label ps-2">IFSC Code</label>
                        <div class="row g-0">
                            <div class="col-md-12">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 px-3 mt-5">
                    <div class="bg-input p-1 border-bottom-blue">
                        <label for="" class="form-label ps-2">Account No</label>
                        <div class="row g-0">
                            <div class="col-md-12">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 px-3 mt-5">
                    <div class="bg-input p-1 border-bottom-blue">
                        <label for="" class="form-label ps-2">Branch</label>
                        <div class="row g-0">
                            <div class="col-md-11 ps-2">
                                <ng-select>
                                    <ng-option>Indian</ng-option>
                                    <ng-option>2</ng-option>
                                    <ng-option>3</ng-option>
                                </ng-select>
                            </div>
                            <div class="col-md-1">
                                <img src="./assets/icons/arrow-dropdown.svg" alt="" width="25px" height="25px" class="">
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </fieldset>
    </form>
</section>
