<div class="row pt-4 px-5">
    <div class="col-md-6 p-0">
        <h1 class="view-h1 pt-2">Employee Provident Fund</h1>
    </div>
    <div class="col-md-6 d-flex justify-content-end align-items-center pb-2">
        <span class="me-5">
            <a class="add-button px-4" uk-toggle="target: #add-epf" type="button">
                <img class="icon-display mb-1" src="./assets/icons/plus.svg" height="15px" width="15px">
                <span class="add-btn ms-2">Add EPF</span>
            </a>
        </span>
    </div>
    <!-- <div class="border-2pxblue"></div> -->
</div>
<div class="row pt-4 px-5">
    <div class="col-md-4 mx-auto">
        <div class="no-data">
            <div class="text-center">
                <div class="text-center">
                    <img src="./assets/images/no-data-1.png" alt="" class="mx-auto">
                </div>
                <h3 class="my-3">Are You Register for EPF...</h3>
                <span class="">Any Organization with 20 or more employees must register for employee provident fund
                    (EPF) scheme, a retirement benefit for all salaried employees</span>
            </div>
        </div>
    </div>
</div>
<div class="row py-4 px-5 mb-5">
    <div class="col-md-10">
        <div class="p-4 bg-white border-bottom-blue">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <span class="bolder-span">EPF Number :</span>
                </div>
                <div class="col-md-5 mb-3">
                    <span>AA/AAA/0000000/000</span>
                </div>
                <div class="col-md-1 text-end">
                    <a href=""><img src="./assets/icons/more2.svg" alt=""></a>
                </div>
                <div class="col-md-6 mb-3">
                    <span class="bolder-span">Deduction Cycle :</span>
                </div>
                <div class="col-md-6 mb-3">
                    <span>Monthly</span>
                </div>
                <div class="col-md-6 mb-3">
                    <span class="bolder-span">Employee Contribution Rate :</span>
                </div>
                <div class="col-md-6 mb-3">
                    <span>12% of Actual Wages </span>
                </div>
                <div class="col-md-6 mb-3">
                    <span class="bolder-span">Employer Contribution Rate :</span>
                </div>
                <div class="col-md-6 mb-3">
                    <span>12% of Actual PF Wages</span>
                </div>
                <div class="col-md-6 mb-3">
                    <span class="bolder-span">CTC Inclusions :</span>
                </div>
                <div class="col-md-6 mb-3">
                    <span></span>
                </div>
                <div class="col-md-6 mb-3">
                    <span class="bolder-span">Allow Employee Level Override :</span>
                </div>
                <div class="col-md-6 mb-3">
                    <span>No</span>
                </div>
                <div class="col-md-6 mb-3">
                    <span class="bolder-span">Pro-rate Restricted PF Wages :</span>
                </div>
                <div class="col-md-6 mb-3">
                    <span>Yes</span>
                </div>
                <div class="col-md-6 mb-3">
                    <span class="bolder-span">Consider applicable salary components based on LOP :</span>
                </div>
                <div class="col-md-6 mb-3">
                    <span>Yes (when PF wage is less than ₹15,000)</span>
                </div>
                <div class="col-md-6 mb-3">
                    <span class="bolder-span">Eligible for ABRY Scheme :</span>
                </div>
                <div class="col-md-6 mb-3">
                    <span>Yes (Only Employee contribution is included)</span>
                </div>
            </div>
        </div>
    </div>
</div>
<app-add-employee-provident-fund></app-add-employee-provident-fund>