h1:before {
    content: "";
    display: inline-block;
    max-width: 10rem;
    width: 20%;
    position: relative;
    border-bottom: 3px solid #3D5DD1;
    position: absolute;
    bottom: -15px;
    left: 4.8%;
}
.border-bottom-blue{
    border-bottom: 6px solid #022567 !important;
    border-radius: 10px;
}
.h3{
    font-size: 28px;
}