<div class="row py-4 px-5 title-border">
    <div class="col-md-6 p-0">
        <h1 class="view-h1 pt-2">Always Present Employee</h1>
    </div>
    <div class="col-md-6 d-flex justify-content-end align-items-center pb-2">
        <span>
            <a class="add-button px-4" uk-toggle="target: #add-present-emp" type="button">
                <img class="icon-display mb-1" src="./assets/icons/plus.svg" height="15px" width="15px">
                <span class="add-btn ms-2">Add Always Present Employee</span>
            </a>
        </span>
    </div>
    <!-- <div class="border-2pxblue"></div> -->
</div>
<div class="row mx-4 mt-4">
    <div class="view-table px-4 py-3">
        <table class="data-table table">
            <thead>
                <tr>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Start Time(Min)</th>
                    <th scope="col">End Time(Min)</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let data of alwaysPresentEmp | paginate: { itemsPerPage: limit, currentPage: currentPage, totalItems: count  };let i = index">
                    <td>{{data?.emp_data?.first_name}}&nbsp;{{data?.emp_data?.last_name}}</td>
                    <td>{{data?.minimum_start_time | date: 'h:mm a'}}</td>
                    <td>{{data?.minimum_end_time | date: 'h:mm a'}}</td>
                    <td class="cursor-pointer table-options">
                        <button class="w-100 bg-white border-0">
                            <img style="size: 4px;" src="./assets/icons/more2.svg" alt="">
                        </button>
                        <div uk-dropdown="mode: click;pos: bottom-right" class="dd-min-width">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li class="">
                                    <a class="uk-dropdown-close justify-content-center"
                                        (click)="openEdit(data)">Edit</a>
                                </li>
                                <li class="">
                                    <a class="uk-dropdown-close justify-content-center"
                                        (click)="deletePresentEmp(data.id)">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row mt-4 mb-1">
            <div class="d-flex justify-content-center">
                <!-- <span for="" class="me-2 mt-2"  style="font-weight: 300;">Items Per Page :</span> 
                <ng-select class="form-control-pagination">
                    <ng-option>1</ng-option>
                    <ng-option>2</ng-option>
                    <ng-option>3</ng-option>
                </ng-select> -->
                <pagination-controls class=" mt-2" (pageChange)="onPageChange($event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>
<app-present-employee [isEdit]="isEdit"></app-present-employee>