<!-- <div class="modal fade" id="add-department" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="text-end px-3 py-3">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div> -->
<div cdkScrollable id="add-department" class="uk-modal-container modal-scroll-form"
    uk-modal="esc-close:false;bg-close:false">
    <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body">
        <button class="uk-modal-close-default" type="reset" (click)="reset()" uk-close></button>
        <div class="row px-3">
            <div class="text-center  col-12 title-border card-title-border">
                <h1 class="pb-3">{{isEdit ? 'Edit':'Add'}} Department</h1>
            </div>
            <!-- <div class="border-2pxblue"></div> -->
        </div>
        <div class="row">
            <div class="px-4">
                <div class="">
                    <form action="" [formGroup]="departmentForm">
                        <fieldset class="uk-fieldset pl-4">
                            <div class="row add">
                                <div class="col-md-4 px-3 mt-4">
                                    <div class="bg-input p-1 border-bottom-blue">
                                        <label for="" class="form-label ps-2">Department Name</label>
                                        <span class="text-danger">*</span>
                                        <div class="row g-0">
                                            <div class="col-md-12">
                                                <input style="text-transform: capitalize;" [maxlength]="150" type="text"
                                                    formControlName="department_name" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-animation-fade row justify-content-center px-3 pt-2"
                                        *ngIf="departmentForm.get('department_name')?.invalid">
                                        <span class="text-danger">{{getError(departmentForm,'department_name')}}</span>
                                    </div>
                                </div>
                                <div class="col-md-4 px-3 mt-4">
                                    <div class="bg-input p-1 border-bottom-blue">
                                        <label for="" class="form-label ps-2">Department Code</label>
                                        <span class="text-danger">*</span>
                                        <div class="row g-0">
                                            <div class="col-md-12">
                                                <input [maxlength]="10" readonly="true" [(ngModel)]="depCodeId"
                                                    name="depCodeId" type="text" formControlName="department_code"
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-animation-fade row justify-content-center px-3 pt-2"
                                        *ngIf="departmentForm.get('department_code')?.invalid">
                                        <span class="text-danger">{{getError(departmentForm,'department_code')}}</span>
                                    </div>
                                </div>
                                <div class="col-md-4 px-3 mt-4" *ngIf="this.userData.department == false">
                                    <div class="bg-input p-1 border-bottom-blue">
                                        <label for="" class="form-label ps-2">Parent Department</label>

                                        <div class="row g-0">
                                            <div class="col-md-12">
                                                <input style="text-transform: capitalize;" [maxlength]="100" type="text"
                                                    formControlName="parent_department" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-animation-fade row justify-content-center px-3 pt-2"
                                        *ngIf="departmentForm.get('parent_department')?.invalid">
                                        <span
                                            class="text-danger">{{getError(departmentForm,'parent_department')}}</span>
                                    </div>
                                </div>
                                <div class="col-md-4 px-3 mt-4">
                                    <div class="bg-input p-1 border-bottom-blue">
                                        <label for="" class="form-label ps-2">Phone Number</label>
                                        <span class="text-danger">*</span>
                                        <div class="row g-0">
                                            <div class="col-md-12">
                                                <input  type="number"
                                                onKeyPress="if(this.value.length==10){ return false}else{return event.charCode>=48 && event.charCode <=57 ;} "
                                                    class="form-control" formControlName="phone_number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-animation-fade row justify-content-center px-3 pt-2"
                                        *ngIf="departmentForm.get('phone_number')?.invalid">
                                        <span class="text-danger">{{getError(departmentForm,'phone_number')}}</span>
                                    </div>
                                </div>
                                <div class="col-md-4 px-3 mt-4" *ngIf="this.userData.department == false">
                                    <div class="bg-input p-1 border-bottom-blue">
                                        <label for="" class="form-label ps-2">Manager</label>
                                        <div class="row g-0">
                                            <div class="col-md-12 ps-2">
                                                <ng-select [clearable]="false" [items]="employeeData" formControlName="manager_name"
                                                    bindLabel="first_name" (change)="remove()" bindValue="id">
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 px-3 mt-4">
                                    <div class="bg-input p-1 border-bottom-blue">
                                        <label for="" class="form-label ps-2">Fax</label>
                                        <div class="row g-0">
                                            <div class="col-md-12">
                                                <input type="number"
                                                onKeyPress="if(this.value.length==10){ return false}else{return event.charCode>=48 && event.charCode <=57 ;} "
                                                    formControlName="fax" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-md-4 px-3 mt-5">
                                    <div class="bg-input p-1 border-bottom-blue">
                                        <label for="" class="form-label ps-2">Branch Name</label>
                                        <div class="row g-0">
                                            <div class="col-md-11 ps-2">
                                                <ng-select>
                                                    <ng-option>Mumbai</ng-option>
                                                    <ng-option>Pune</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-md-1">
                                                <img src="./assets/icons/arrow-dropdown.svg" alt="" width="25px"
                                                    height="25px" class="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 px-3 mt-5">
                                    <div class="bg-input p-1 border-bottom-blue">
                                        <label for="" class="form-label ps-2">Branch Code</label>
                                        <div class="row g-0">
                                            <div class="col-md-12">
                                                <input type="text"
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 px-3 mt-5">
                                    <div class="bg-input p-1 border-bottom-blue">
                                        <label for="" class="form-label ps-2">Weekly Off</label>
                                        <div class="row g-0">
                                            <div class="col-md-11 ps-2">
                                                <ng-select>
                                                    <ng-option>1</ng-option>
                                                    <ng-option>2</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-md-1">
                                                <img src="./assets/icons/arrow-dropdown.svg" alt="" width="25px"
                                                    height="25px" class="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 px-3 mt-5">
                                    <div class="bg-input p-1 border-bottom-blue">
                                        <label for="" class="form-label ps-2">Company Name</label>
                                        <div class="row g-0">
                                            <div class="col-md-11 ps-2">
                                                <ng-select>
                                                    <ng-option>Techsimians</ng-option>
                                                    <ng-option>Tata</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-md-1">
                                                <img src="./assets/icons/arrow-dropdown.svg" alt="" width="25px"
                                                    height="25px" class="">
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </fieldset>
                        <div class="col-md-12 d-flex justify-content-center text-end mt-4">
                            <!-- <div class="px-3 cancel">
                                <button class="cancel-button px-3" (click)="reset()">
                                    <img class="icon-display mb-1" src="./assets/icons/cancel.svg" height="15px"
                                        width="15px">
                                    <span class="cancel-btn ms-2">Cancel</span>
                                </button>
                            </div> -->
                            <div class="">
                                <button [disabled]="buttondisable" [disabled]="buttondisable"
                                    *ngIf="!isEdit || departmentForm.invalid" class="save-button me-3 px-3"
                                    (click)="addDepartment()">
                                    <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                                    <span class="white" *ngIf="!buttonLoader" style="margin-left: 10px;">Save
                                        <svg>
                                            <rect x="0" y="0" fill="none" width="100%" height="100%" rx="5" />
                                        </svg>
                                    </span>
                                    <span class="white" *ngIf="buttonLoader" style="margin-left: 10px;">Saving</span>
                                    <span class="mt-1 ml-2 float-right" *ngIf="buttonLoader" uk-spinner></span>
                                </button>
                                <button *ngIf="isEdit" class="save-button px-3" (click)="editDepartment()">
                                    <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                                    <span class="white" *ngIf="!buttonLoader" style="margin-left: 10px;">Update
                                        <svg>
                                            <rect x="0" y="0" fill="none" width="100%" height="100%" rx="5" />
                                        </svg>
                                    </span>
                                    <span class="white" *ngIf="buttonLoader" style="margin-left: 10px;">Updating</span>
                                    <span class="mt-1 ml-2 float-right" *ngIf="buttonLoader" uk-spinner></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
