<div class="row py-4 px-5 title-border">
    <div class="col-md-6 p-0">
        <h1 class="view-h1 pt-2">Regularization</h1>
    </div>
    <div class="col-md-6 d-flex justify-content-end align-items-center pb-2">
        <span class="">
            <a class="add-button" uk-toggle="target: #apply-regular" type="button">
                <img class="icon-display mb-1" src="./assets/icons/plus.svg" height="15px" width="15px">
                <span class="add-btn ms-2">Apply Regularization</span>
            </a>
        </span>
    </div>
</div>
<div class="row mx-4">
    <div class="view-table px-4 py-3">
        <table class="data-table table" *ngIf="manageRegularization.length > 0 && !loader">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Check In</th>
                    <th scope="col">Reason</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr
                *ngFor="let data of manageRegularization | paginate : {itemsPerPage: limit, currentPage: currentPage, totalItems: count }; let i = index;">
                    <td>{{data?.date | date: 'dd/MM/yyyy'}}</td>
                    <td>{{data?.checkin_time | date: 'h:mm a'}}</td>
                    <td>{{data?.reason}}</td>
                    <!-- <td>{{data?.isApproved}}</td> -->
                    <td *ngIf="data?.isApproved == 0">Pending</td>
                    <td *ngIf="data?.isApproved == 1">Approved</td>
                    <td *ngIf="data?.isApproved == 2">Decline</td>
                    <td class="cursor-pointer table-options">
                        <button class="w-100 bg-white border-0"><img style="size: 4px;" src="./assets/icons/more2.svg"
                                alt=""></button>
                        <div uk-dropdown="mode: click;pos: bottom-right" class="dd-min-width">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li class="">
                                    <a class="uk-dropdown-close justify-content-center">Edit</a>
                                </li>
                                <li class="">
                                    <a class="uk-dropdown-close justify-content-center">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="no-data" *ngIf="manageRegularization.length == 0 && !loader">
            <div class="text-center">
                <div class="text-center">
                    <img src="./assets/images/no-data-1.png" alt="" class="mx-auto">
                </div>
                <h3 class="">No Data Yet...</h3>
                <span>Be the first one to add</span>
            </div>
        </div>
        <div class="row mt-4 mb-1">
            <div class="d-flex justify-content-center">
                <!-- <span for="" class="me-2 mt-2"  style="font-weight: 300;">Items Per Page :</span> 
                <ng-select class="form-control-pagination">
                    <ng-option>1</ng-option>
                    <ng-option>2</ng-option>
                    <ng-option>3</ng-option>
                </ng-select> -->
                <pagination-controls class=" mt-2" (pageChange)="onPageChange($event)"></pagination-controls>
            </div>
        </div>
    </div>
    <app-loader *ngIf="loader"></app-loader>
</div>
<app-add-regularization></app-add-regularization>