<!-- <div class="modal fade" id="add-salary-grade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="text-end px-3 py-3">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div> -->
<div cdkScrollable id="add-salary-grade" class="uk-modal-container modal-scroll-form"
    uk-modal="esc-close:false;bg-close:false">
    <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body">
        <button class="uk-modal-close-default" type="button" (click)="reset()" uk-close></button>
        <div class="row px-3">
            <div class="col-md-12 text-center">
                <h1 class="pb-3">Add Salary Grade</h1>
            </div>
            <!-- <div class="border-2pxblue"></div> -->
        </div>
        <div class="row">
            <div class="px-4">
                <div class="">
                    <form action="" [formGroup]="salarygradeForm">
                        <fieldset class="uk-fieldset pl-4">
                            <div class="row add">
                                <div class="col-md-4 px-3 mt-5">
                                    <div class="bg-input border-bottom-blue p-1">
                                        <label for="" class="form-label ps-2">Salary Grade</label>
                                        <div class="row g-0">
                                            <div class="col-md-12">
                                                <input type="text" formControlName="salary_grade" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-animation-fade row justify-content-center px-3 pt-2"
                                        *ngIf="salarygradeForm.get('salary_grade')?.invalid">
                                        <span class="text-danger">{{getError(salarygradeForm,'salary_grade')}}</span>
                                    </div>
                                </div>
                                <div class="col-md-4 px-3 mt-5">
                                    <div class="bg-input p-1 border-bottom-blue">
                                        <label for="" class="form-label ps-2">Component Name</label>
                                        <div class="row g-0">
                                            <div class="col-md-11">
                                                <ng-select [clearable]="false" [items]="componentId" bindLabel="salary_component_name"
                                                bindValue="id" formControlName="component_name">
                                                    <!-- <ng-option>Basic Pay</ng-option>
                                                    <ng-option>House Rent Allowance</ng-option>
                                                    <ng-option>Professional Tax</ng-option> -->
                                                </ng-select>
                                            </div>
                                            <div class="col-md-1">
                                                <img src="./assets/icons/arrow-dropdown.svg" alt="" width="25px"
                                                    height="25px" class="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-animation-fade row justify-content-center px-3 pt-2"
                                        *ngIf="salarygradeForm.get('component_name')?.invalid">
                                        <span class="text-danger">{{getError(salarygradeForm,'component_name')}}</span>
                                    </div>
                                </div>
                                <div class="col-md-4 px-3 mt-5">
                                    <div class="bg-input border-bottom-blue p-1">
                                        <label for="" class="form-label ps-2">Grade</label>
                                        <div class="row g-0">
                                            <div class="col-md-11">
                                                <ng-select [clearable]="false" formControlName="grade">
                                                    <ng-option>A</ng-option>
                                                    <ng-option>B</ng-option>
                                                    <ng-option>C</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-md-1">
                                                <img src="./assets/icons/arrow-dropdown.svg" alt="" width="25px"
                                                    height="25px" class="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-animation-fade row justify-content-center px-3 pt-2"
                                        *ngIf="salarygradeForm.get('grade')?.invalid">
                                        <span class="text-danger">{{getError(salarygradeForm,'grade')}}</span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="col-md-12 d-flex justify-content-center text-end mt-4">
                            <!-- <div class="px-3 cancel">
                                <button class="cancel-button px-3" (click)="reset()">
                                    <img class="icon-display mb-1" src="./assets/icons/cancel.svg" height="15px"
                                        width="15px">
                                    <span class="cancel-btn ms-2">Cancel</span>
                                </button>
                            </div> -->
                            <div class="">
                                <button class="save-button px-3" (click)="addSalarygrade()">
                                    <img class="icon-display mb-1" src="./assets/icons/save-btn.svg" height="15px"
                                        width="15px">
                                    <span class="save-btn ms-2">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
