.width-div{
    padding: 0rem 0.2rem 0.3rem 0;
    width: 14.28%;
    text-align: left;
}
.width-div span{
    font-size: 12px;
}
.add-field-line{
    border-bottom: 1px solid #ABB0F1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

.add-field li {
    padding: 0.7rem 0.2rem;
    width: 25%;
    text-align: center;
}
.blue-dot{
    font-size: 20px;
}
.deductions span{
    font-size: 14px;
    font-weight: 400;
}