<div id="add-state-tax" uk-modal class="uk-modal-container modal-scroll-form" uk-modal="esc-close:false;bg-close:false">
    <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body">
        <div class="text-end px-3">
            <button type="button" class="uk-modal-close-default" uk-close></button>
        </div>
        <div class="row px-3">
            <div class="text-center  col-12 title-border card-title-border">
                <h1 class="pb-3">Add Statewise PT</h1>
            </div>
            <!-- <div class="border-2pxblue"></div> -->
        </div>
        <div class="row">
            <div class="px-4">
                <div class="">
                    <form action="" [formGroup]="stateTaxForm">
                        <fieldset class="uk-fieldset pl-4">
                            <div class="row add">
                                <div class="col-md-4 px-3 mt-4">
                                    <div class="bg-input p-1 border-bottom-blue">
                                        <label for="" class="form-label ps-2">Slab Form</label>
                                        <div class="row g-0">
                                            <input type="text" class="form-control" formControlName="slab_from">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 px-3 mt-4">
                                    <div class="bg-input p-1 border-bottom-blue">
                                        <label for="" class="form-label ps-2">Slab To</label>
                                        <div class="row g-0">
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" formControlName="slab_to">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 px-3 mt-4">
                                    <div class="bg-input p-1 border-bottom-blue">
                                        <label for="" class="form-label ps-2">Amount</label>
                                        <div class="row g-0">
                                            <div class="col-md-12">
                                                <input type="number" onKeyPress="if(this.value.length==10){ return false}else{return event.charCode>=48 && event.charCode <=57 ;} " class="form-control" formControlName="amount">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 px-3 mt-4">
                                    <div class="bg-input p-1 border-bottom-blue">
                                        <label for="" class="form-label ps-2">Applicable Date</label>
                                        <div class="row g-0">
                                            <div class="col-md-11">
                                                <input [min]="" class="form-control" [owlDateTime]="on_date"
                                                    [owlDateTimeTrigger]="on_date" formControlName="Applicable_date">
                                                <owl-date-time pickerType="calendar" #on_date>
                                                </owl-date-time>
                                            </div>
                                            <div class="col-md-1">
                                                <span [owlDateTimeTrigger]="on_date">
                                                    <img src="./assets/icons/calendar.svg" alt="" width="20px"
                                                        height="20px" class="">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 px-3 mt-4">
                                    <div class="bg-input p-1 border-bottom-blue">
                                        <label for="" class="form-label ps-2">Gender</label>
                                        <div class="row g-0">
                                            <ng-select [clearable]="false" [items]="gender" bindLabel="gender" bindValue="gender"
                                         formControlName="gender"></ng-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 px-3 mt-4">
                                    <div class="bg-input p-1 border-bottom-blue">
                                        <label for="" class="form-label ps-2">Special Month</label>
                                        <div class="row g-0">
                                            <ng-select [clearable]="false" [items]="month" bindLabel="month" bindValue="month"
                                         formControlName="month"></ng-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 px-3 mt-4">
                                    <div class="bg-input p-1 border-bottom-blue">
                                        <label for="" class="form-label ps-2">Special Amount</label>
                                        <div class="row g-0">
                                            <div class="col-md-12">
                                                <input type="number" onKeyPress="if(this.value.length==10){ return false}else{return event.charCode>=48 && event.charCode <=57 ;} " class="form-control"
                                                    formControlName="special_amount">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 px-3 mt-4">
                                    <div class="bg-input p-1 border-bottom-blue">
                                        <label for="" class="form-label ps-2">Comments</label>
                                        <div class="row g-0">
                                            <div class="col-md-12">
                                                <textarea rows="1" class="form-control"
                                                    formControlName="remark"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="col-md-12 d-flex justify-content-center text-end mt-4">
                            <div class="">
                                <button class="save-button px-3">
                                    <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                                    <span class="white" style="margin-left: 10px;">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
