.bg-thead {
    background: rgba(155, 167, 240, 0.6);
    border-radius: 4px;
}
.bg-thead span{
    font-weight: 600;
}
table.data-table th{
    width: 50%;
}
table.data-table tr{
    text-align: center;
}