<div cdkScrollable id="view-roster" class="uk-modal-container modal-scroll-form"
    uk-modal="esc-close:false;bg-close:false">
    <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body">
        <button class="uk-modal-close-default" type="button" (click)="reset()" uk-close></button>
        <div class="row px-3">
            <div class="text-center  col-12 title-border card-title-border">
                <h1 class="pb-3">View Roster</h1>
            </div>
            <!-- <div class="border-2pxblue"></div> -->
        </div>
        <div class="row">
            <div class="px-4">
                <div class="">
                    <form action="">
                        <fieldset class="uk-fieldset pl-4">
                            <div class="row add mt-4">
                                <div class="col-md-6">
                                    <div class="col-md-12 mb-2">
                                        <span class="blue-dot px-3"><i class="fa fa-circle" aria-hidden="true"></i> Sign On Crew</span>
                                    </div>
                                    <div class="px-4">
                                        <label for="" class="form-label ps-2">Year: </label>
                                        <span class="px-3"> 13/02/2920</span>
                                    </div>
                                    <div class="px-4">
                                        <label for="" class="form-label ps-2">Date: </label>
                                        <span class="px-3"> 13/02/2920</span>
                                    </div>
                                    <div class="px-4">
                                        <label for="" class="form-label ps-2">Crew Name: </label>
                                        <span class="px-3"> Name</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <span class="blue-dot px-3"><i class="fa fa-circle" aria-hidden="true"></i> Sign Off Crew</span>
                                    </div>
                                    <div class="px-4">
                                        <label for="" class="form-label ps-2">Year: </label>
                                        <span class="px-3"> 13/02/2920</span>
                                    </div>
                                    <div class="px-4">
                                        <label for="" class="form-label ps-2">Date: </label>
                                        <span class="px-3"> 13/02/2920</span>
                                    </div>
                                    <div class="px-4">
                                        <label for="" class="form-label ps-2">Crew Name: </label>
                                        <span class="px-3"> Name</span>
                                    </div>
                                </div>
                                <!-- <div class="col-md-4 px-3 mt-4">
                                    <div class="bg-input p-1 border-bottom-blue">
                                        <label for="" class="form-label ps-2">On</label>
                                        <div class="row g-0">
                                            <div class="col-md-12">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 px-3 mt-4">
                                    <div class="bg-input p-1 border-bottom-blue">
                                        <label for="" class="form-label ps-2">Off</label>
                                        <div class="row g-0">
                                            <div class="col-md-12">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="row mt-3 view-table px-4 py-3">
                    <div class="col-md-12 d-flex bg-thead text-center py-2">
                        <div class="col-md-6">
                            <span>On Crew</span>
                        </div>
                        <div class="col-md-6">
                            <span>Off Crew</span>
                        </div>
                    </div>
                   <div class="col-md-12 d-flex">
                    <div class="col-md-6">
                        <table class="data-table table">
                            <thead>
                                <tr>
                                    <th scope="col">Designation</th>
                                    <th scope="col">Main</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Developer</td>
                                    <td>Main</td>
                                </tr>
                                <tr>
                                    <td>Developer</td>
                                    <td>Main</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="data-table table">
                            <thead>
                                <tr>
                                    <th scope="col">Designation</th>
                                    <th scope="col">Replacer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Developer</td>
                                    <td>Replacer</td>
                                </tr>
                                <tr>
                                    <td>Developer</td>
                                    <td>Replacer</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>