<div class="row pt-4 px-5">
    <div class="col-md-6 p-0">
        <h1 class="view-h1 pt-2">Pay Runs</h1>
    </div>
    <!-- <div class="border-2pxblue"></div> -->
</div>
<div class="row py-4 px-5 title-border">
    <div class="col-md-6 p-0">
        <h3 class="view-h1 pt-2">Run Payroll</h3>
    </div>
    <!-- <div class="border-2pxblue"></div> -->
    <h2 class="mt-3 p-0">Process pay run for <span class="fw-bold">December 2022</span></h2>
    <div class="row payrun-card mt-4">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4 d-grid align-items-center justify-content-center">
                    <p>Employee’s Net Pay</p>
                    <span>₹91,067.00</span>
                </div>
                <div class="col-md-4 d-grid align-items-center justify-content-center border-both">
                    <p>Payment Date</p>
                    <span>30/12/2022</span>
                </div>
                <div class="col-md-4 d-grid align-items-center justify-content-center">
                    <p>No. Of Employees</p>
                    <span>3</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-end d-flex justify-content-end align-items-center">
            <button class="btn add-button px-3" routerLink="/payroll/view-pay-run">
                <span class="text-white">View Detail</span>
            </button>
        </div>
    </div>
</div>