<div class="row pt-4 px-5">
    <div class="col-md-6 p-0">
        <h1 class="view-h1 pt-2">Pratiksha Ughade</h1>
    </div>
    <!-- <div class="border-2pxblue"></div> -->
</div>
<div class="row py-4 px-5 title-border">
    <!-- <div class="col-md-6 p-0">
        <h3 class="view-h1 pt-2">Salary Details</h3>
    </div>
    <!-- <div class="border-2pxblue"></div> --> -->
    <h2 class="mt-4 p-0">Salary Details</h2>
    <div class="row add">
        <div class="col-md-4 px-3 ps-0 mt-4">
            <div class="bg-input p-1 border-bottom-blue bg-white">
                <label for="" class="form-label ps-2">Account Holder Name</label>
                <span class="text-danger">*</span>
                <div class="row g-0">
                    <div class="col-md-12">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 px-3 mt-4">
            <div class="bg-input p-1 border-bottom-blue bg-white">
                <label for="" class="form-label ps-2">Bank Name</label>
                <span class="text-danger">*</span>
                <div class="row g-0">
                    <div class="col-md-12">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 px-3 mt-4 text-end">
            <button class="border-0 bg-none btn">
                <img src="./assets/icons/print.svg" alt="">
            </button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="view-table px-4 py-3 border-top-opblue">
            <table class="data-table table mt-3">
                <thead>
                    <tr>
                        <th scope="col">Particular</th>
                        <th scope="col">Monthly Amount</th>
                        <th scope="col">Annual Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="earn">
                                <i class="fa fa-circle" aria-hidden="true"></i>
                                Earnings
                            </span></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr routerLink="/payroll/view-employee-payroll">
                        <th>Basic</th>
                        <td>12,500.00</td>
                        <td>1,50,000.00</td>
                    </tr>
                    <tr>
                        <th>House Rent Allowence</th>
                        <td>62,50.00</td>
                        <td>75,000.00</td>
                    </tr>
                    <tr>
                        <th>Food Allowence</th>
                        <td>62,50.00</td>
                        <td>75,000.00</td>
                    </tr>
                    <tr>
                        <th>Total Earnings</th>
                        <th>62,50.00</th>
                        <th>75,000.00</th>
                    </tr>
                    <tr>
                        <td>
                            <span class="earn">
                                <i class="fa fa-circle" aria-hidden="true"></i>
                                Deduction
                            </span>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Professional Tax</th>
                        <td>12,500.00</td>
                        <td>1,50,000.00</td>
                    </tr>
                    <tr>
                        <th>EPF</th>
                        <td>62,50.00</td>
                        <td>75,000.00</td>
                    </tr>
                    <tr>
                        <th>Total Deduction</th>
                        <th>62,50.00</th>
                        <th>75,000.00</th>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th scope="col">Cost Of Company</th>
                        <th scope="col">25,000.00</th>
                        <th scope="col">3,00,000.00</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- <div class="row mt-3 mb-5">
        <div class="card-border p-3 bg-white d-flex">
            <div class="px-4">
                <span>Prequisites </span>
                <span class="fw-lighter"> &#8377;0.00</span>
            </div>
            <div class="ms-auto px-5">
                <a href="" class="color-blue">View
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div> -->
</div>