.add-exit-detail {
    min-height: 600px;
    overflow: hidden;
}

.add-exit-detail .uk-modal-dialog {
    height: auto;
    overflow: auto;
    max-height: 100%;
}
.card-border {
    padding-bottom: 15px;
    border-top: none;
    border-bottom: 0.5px solid #ABB0F1;
}
.text-blue {
    color: #002160;
}