<div cdkScrollable id="view-documents" class="uk-modal-container modal-scroll-form"
    uk-modal="esc-close:false;bg-close:false">
    <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="row px-3">
            <div class="col-md-12 text-center title-border card-title-border">
                <h1 class="pb-3">Uploaded Documents</h1>
            </div>
        </div>
        <div class="row">
            <div class="px-4">
                <div class="py-3">
                    <table class="data-table table">
                        <thead>
                            <tr>
                                <th scope="col">Documents Name</th>
                                <th scope="col">File Name</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Aadhaar Card</td>
                                <td>IMG_20230416_172827</td>
                                <td>18/04/2023</td>
                            </tr>
                            <tr>
                                <td>Pan Card</td>
                                <td>IMG_20230416_172827</td>
                                <td>18/04/2023</td>
                            </tr>
                            <tr>
                                <td>Passport</td>
                                <td>IMG_20230416_172827</td>
                                <td>18/04/2023</td>
                            </tr>
                            <tr>
                                <td>CDC</td>
                                <td>IMG_20230416_172827</td>
                                <td>18/04/2023</td>
                            </tr>
                            <tr>
                                <td>Nominee Form</td>
                                <td>IMG_20230416_172827</td>
                                <td>18/04/2023</td>
                            </tr>
                            <tr>
                                <td>CV</td>
                                <td>IMG_20230416_172827</td>
                                <td>18/04/2023</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>