<div class="row py-4 px-5 title-border">
    <div class="col-md-6">
        <h1 class="view-h1 pt-2">Alerts</h1>
    </div>
    <div class="col-md-6 d-flex justify-content-end align-items-center pb-2">
        <span class="me-5">
            <a class="add-button px-4" routerLink="/masters/add-alert">
                <img class="icon-display mb-1" src="./assets/icons/plus.svg" height="15px" width="15px">
                <span class="add-btn ms-2">Add Alerts</span>
            </a>
        </span>
    </div>
    <!-- <div class="border-2pxblue"></div> -->
</div>
<div class="row mx-4">
    <div class="view-table px-4 py-3">
        <form action="">
            <fieldset class="uk-fieldset pl-4">
                <div class="row">
                    <div class="col-md-4 px-5 add pb-5">
                        <label for="" class="form-label">Alert Name</label>
                        <div class="row g-0 border-bottom-blue">
                            <div class="col-md-12">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        <table class="data-table table">
            <thead>
                <tr>
                    <th scope="col">Alert Name</th>
                    <th scope="col">SMS</th>
                    <th scope="col">Email</th>
                    <th scope="col">Dashboard</th>
                    <th scope="col">Address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Car Insurance</td>
                    <td><input type="checkbox" class="form-check-input ms-2"></td>
                    <td><input type="checkbox" class="form-check-input ms-3"></td>
                    <td><input type="checkbox" class="form-check-input ms-5"></td>
                    <td><input type="checkbox" class="form-check-input ms-4"></td>
                </tr>
                <tr>
                    <td>Car Maintenance</td>
                    <td><input type="checkbox" class="form-check-input ms-2"></td>
                    <td><input type="checkbox" class="form-check-input ms-3"></td>
                    <td><input type="checkbox" class="form-check-input ms-5"></td>
                    <td><input type="checkbox" class="form-check-input ms-4"></td>
                </tr>
                <tr>
                    <td>CDC</td>
                    <td><input type="checkbox" class="form-check-input ms-2"></td>
                    <td><input type="checkbox" class="form-check-input ms-3"></td>
                    <td><input type="checkbox" class="form-check-input ms-5"></td>
                    <td><input type="checkbox" class="form-check-input ms-4"></td>
                </tr>
                <tr>
                    <td>Crew Change</td>
                    <td><input type="checkbox" class="form-check-input ms-2"></td>
                    <td><input type="checkbox" class="form-check-input ms-3"></td>
                    <td><input type="checkbox" class="form-check-input ms-5"></td>
                    <td><input type="checkbox" class="form-check-input ms-4"></td>
                </tr>
                <tr>
                    <td>GPA</td>
                    <td><input type="checkbox" class="form-check-input ms-2"></td>
                    <td><input type="checkbox" class="form-check-input ms-3"></td>
                    <td><input type="checkbox" class="form-check-input ms-5"></td>
                    <td><input type="checkbox" class="form-check-input ms-4"></td>
                </tr>
                <tr>
                    <td>Medical Report</td>
                    <td><input type="checkbox" class="form-check-input ms-2"></td>
                    <td><input type="checkbox" class="form-check-input ms-3"></td>
                    <td><input type="checkbox" class="form-check-input ms-5"></td>
                    <td><input type="checkbox" class="form-check-input ms-4"></td>
                </tr>
                <tr>
                    <td>Mediclaim</td>
                    <td><input type="checkbox" class="form-check-input ms-2"></td>
                    <td><input type="checkbox" class="form-check-input ms-3"></td>
                    <td><input type="checkbox" class="form-check-input ms-5"></td>
                    <td><input type="checkbox" class="form-check-input ms-4"></td>
                </tr>
                <tr>
                    <td>Passport</td>
                    <td><input type="checkbox" class="form-check-input ms-2"></td>
                    <td><input type="checkbox" class="form-check-input ms-3"></td>
                    <td><input type="checkbox" class="form-check-input ms-5"></td>
                    <td><input type="checkbox" class="form-check-input ms-4"></td>
                </tr>
                <tr>
                    <td>Smartcard</td>
                    <td><input type="checkbox" class="form-check-input ms-2"></td>
                    <td><input type="checkbox" class="form-check-input ms-3"></td>
                    <td><input type="checkbox" class="form-check-input ms-5"></td>
                    <td><input type="checkbox" class="form-check-input ms-4"></td>
                </tr>
                <tr>
                    <td>Training Start</td>
                    <td><input type="checkbox" class="form-check-input ms-2"></td>
                    <td><input type="checkbox" class="form-check-input ms-3"></td>
                    <td><input type="checkbox" class="form-check-input ms-5"></td>
                    <td><input type="checkbox" class="form-check-input ms-4"></td>
                </tr>
                <tr>
                    <td>Training End</td>
                    <td><input type="checkbox" class="form-check-input ms-2"></td>
                    <td><input type="checkbox" class="form-check-input ms-3"></td>
                    <td><input type="checkbox" class="form-check-input ms-5"></td>
                    <td><input type="checkbox" class="form-check-input ms-4"></td>
                </tr>
                <tr>
                    <td>VISA</td>
                    <td><input type="checkbox" class="form-check-input ms-2"></td>
                    <td><input type="checkbox" class="form-check-input ms-3"></td>
                    <td><input type="checkbox" class="form-check-input ms-5"></td>
                    <td><input type="checkbox" class="form-check-input ms-4"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- <div class="col-md-12 text-end">
    <pagination-controls previousLabel="Prev" nextLabel="Next"></pagination-controls>
</div> -->