<div class="py-4 px-5 mb-5">
    <div class="row">
        <div class="col-12">
            <h2 class="title mb-1">Hello Saloni !</h2>
            <p class="mt-0">The Great Thing In This World Is Not So Much Where You Stand, As In What Direction You Are
                Moving.</p>
        </div>
    </div>
    <div *ngIf="userData?.user_roll_data?.roll_name === 'Admin' || userData?.user_roll_data?.roll_name === 'user' "
        class="admin-dashboard">
        <div class="row dashboard-row pt-3 pb-4">
            <div class="col-12 col-md-8">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="card card-count border-0 p-3 px-4">
                            <h3 class="card-title text-center pb-4">Total Employees</h3>
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <h3 class="mb-0">352</h3>
                                </div>
                                <div>
                                    <p class="mb-0"><img src="../../../../assets/icons/up.svg" alt=""> +15%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card card-count border-0 p-3 px-4">
                            <h3 class="card-title text-center pb-4">Number Of Leaves</h3>
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <h3 class="mb-0">25</h3>
                                </div>
                                <div>
                                    <p class="mb-0"><img src="../../../../assets/icons/down.svg" alt=""> -10%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card card-count border-0 p-3 px-4">
                            <h3 class="card-title text-center pb-4">New Employees</h3>
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <h3 class="mb-0">25</h3>
                                </div>
                                <div>
                                    <p class="mb-0"><img src="../../../../assets/icons/up.svg" alt=""> +12%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col-12 col-md-6">
                        <div class="card card-count border-0 p-3 px-4">
                            <h3 class="card-title text-center pb-4">Work Location</h3>
                            <div class="chart">
                                <canvas baseChart [labels]="doughnutChartLabels" [datasets]="doughnutChartDatasets"
                                    [options]="doughnutChartOptions" [legend]="true" [type]="'doughnut'">
                                </canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card card-count border-0 p-3 px-4">
                            <h3 class="card-title text-center pb-4">Total Employee</h3>
                            <div class="chart">
                                <canvas baseChart [labels]="doughnutChartLabels1" [datasets]="doughnutChartDatasets1"
                                    [options]="doughnutChartOptions1" [legend]="true" [type]="'doughnut'">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card card-count border-0 p-3 px-4">
                    <h3 class="card-title text-center pb-5">Leave Report</h3>
                    <div class="d-flex align-items-center mb-4">
                        <div class="progress mb-1">
                            <div class="progress-bar progress-bar-annual" style="height:32px;width:40%">40%</div>
                        </div>
                        <div>
                            <p class="mb-0 ms-3 report-text">Annual Leaves</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-4">
                        <div class="progress mb-1">
                            <div class="progress-bar progress-bar-casual" style="height:32px;width:20%">20%</div>
                        </div>
                        <div>
                            <p class="mb-0 ms-3 report-text">Casual Leaves</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-4">
                        <div class="progress mb-1">
                            <div class="progress-bar progress-bar-sick" style="height:32px;width:30%">30%</div>
                        </div>
                        <div>
                            <p class="mb-0 ms-3 report-text">Sick Leaves</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-4">
                        <div class="progress mb-1">
                            <div class="progress-bar progress-bar-privilage" style="height:32px;width:25%">25%</div>
                        </div>
                        <div>
                            <p class="mb-0 ms-3 report-text">Privilege Leaves</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row dashboard-row">
            <div class="col-12 col-md-8">
                <div class="card card-count border-0 p-3 px-4">
                    <div class="row">
                        <div class="col-10">
                            <h3 class="card-title pb-4">Staff Turnover</h3>
                        </div>
                        <div class="col-2">
                            <ng-select class="form-control form-control-graph p-0" [items]="turnoverMonths" [(ngModel)]="selectedmonth" bindValue="id" bindLabel="name"></ng-select>
                        </div>
                    </div>
                    <div class="turnover-chart">
                        <canvas baseChart [data]="barChartData" [options]="barChartOptions"
                            [plugins]="barChartPlugins" [legend]=false [type]="'bar'">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card card-count border-0 p-3 px-3">
                    <h3 class="text-center card-title text-black mb-3">Holiday</h3>
                    <div class="leave-calendar">
                        <full-calendar #fullcalendar [options]="calendarOptions">
                            <ng-template #eventContent let-arg>
                                <!-- <b>{{ arg.event.title }}</b> - {{ arg.event.start.getDate() }} -->
                            </ng-template>
                        </full-calendar>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="userData?.user_roll_data?.roll_name === 'Employee'" class="employee-dashboard">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="card card-count border-0 p-3 px-4">
                            <h3 class="card-title text-center pb-4">Today's In Time</h3>
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <h3 class="mb-0">10.00 <span class="small-text">AM</span></h3>
                                </div>
                                <div>
                                    <img src="../../../../assets/icons/intime.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card card-count border-0 p-3 px-4">
                            <h3 class="card-title text-center pb-4">Working Hours</h3>
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <h3 class="mb-0">4 <span class="small-text">hr</span> 20 <span class="small-text">min</span>
                                    </h3>
                                </div>
                                <div>
                                    <img src="../../../../assets/icons/hours.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card card-count border-0 p-3 px-4">
                            <h3 class="card-title text-center pb-4">Task In Progress</h3>
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <h3 class="mb-0">03</h3>
                                </div>
                                <div>
                                    <img src="../../../../assets/icons/progress.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col-12 col-md-6">
                        <div class="card card-count border-0 p-3 px-4">
                            <div class="row">
                                <div class="col-8">
                                    <h3 class="card-title pb-4">Attendance</h3>
                                </div>
                                <div class="col-4">
                                    <ng-select class="form-control form-control-graph p-0" [items]="dailyAttendance" [(ngModel)]="selectedattedance" bindValue="id" bindLabel="name"></ng-select>
                                </div>
                            </div>
                            <div class="chart">
                                <canvas baseChart [labels]="doughnutChartLabels3" [datasets]="doughnutChartDatasets3"
                                    [options]="doughnutChartOptions3" [legend]="true" [type]="'doughnut'">
                                </canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card card-count border-0 p-3 px-4">
                            <h3 class="card-title text-center pb-4">Tasks</h3>
                            <div class="turnover-chart">
                                <div class="chart">
                                    <canvas baseChart [labels]="doughnutChartLabels2" [datasets]="doughnutChartDatasets2"
                                        [options]="doughnutChartOptions2" [legend]="true" [type]="'doughnut'">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card card-count border-0 p-3 px-4">
                    <h3 class="card-title text-center pb-5">Leave Report</h3>
                    <div class="d-flex align-items-center mb-4 pb-2">
                        <div class="progress leave-progress position-relative">
                            <div class="progress-bar progress-bar-annual" style="height:32px;width:40%">
                                <p class="mb-0">4/10</p>
                            </div>
                        </div>
                        <div>
                            <p class="mb-0 ms-3 report-text">Annual Leaves</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-4 pb-2">
                        <div class="progress leave-progress position-relative">
                            <div class="progress-bar progress-bar-casual" style="height:32px;width:20%">
                                <p class="mb-0">3/10</p>
                            </div>
                        </div>
                        <div>
                            <p class="mb-0 ms-3 report-text">Casual Leaves</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-4 pb-2">
                        <div class="progress leave-progress position-relative">
                            <div class="progress-bar progress-bar-sick" style="height:32px;width:30%">
                                <p class="mb-0">4/10</p>
                            </div>
                        </div>
                        <div>
                            <p class="mb-0 ms-3 report-text">Sick Leaves</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-4 pb-2">
                        <div class="progress leave-progress position-relative">
                            <div class="progress-bar progress-bar-privilage" style="height:32px;width:10%">
                                <p class="mb-0">1/10</p>
                            </div>
                        </div>
                        <div>
                            <p class="mb-0 ms-3 report-text">Privilege Leaves</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row dashboard-row pt-4 pb-4">
            <div class="col-12 col-md-8">
                <div class="card card-count border-0 p-3 px-4">
                    <div class="row">
                        <div class="col-10">
                            <h3 class="card-title pb-4">Daily Active Hours</h3>
                        </div>
                        <div class="col-2">
                            <ng-select class="form-control form-control-graph p-0" [items]="dailyActiveHours" [(ngModel)]="selecteddailytime" bindValue="id" bindLabel="name"></ng-select>
                        </div>
                    </div>
                    <div class="line-chart">
                        <canvas id="lineChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card card-count border-0 p-3 px-3">
                    <h3 class="card-title pb-4">Salary</h3>
                    <div class="row mb-3">
                        <div class="col-8">
                            <h4 class="mb-0">Actual Work Hrs</h4>
                        </div>
                        <div class="col-4 text-end">
                            <h4 class="mb-0">160</h4>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-8">
                            <h4 class="mb-0">Actual Billing</h4>
                        </div>
                        <div class="col-4 text-end">
                            <h4 class="mb-0">$8000</h4>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-8">
                            <h4 class="mb-0">Gross pay</h4>
                        </div>
                        <div class="col-4 text-end">
                            <h4 class="mb-0">$7600</h4>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-8">
                            <h4 class="mb-0">Deduction & Taxes</h4>
                        </div>
                        <div class="col-4 text-end">
                            <h4 class="mb-0">$1200</h4>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-8">
                            <h4 class="mb-0">Net Pay</h4>
                        </div>
                        <div class="col-4 text-end">
                            <h4 class="mb-0">$6400</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a class="pay-text">Download Pay Slip</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>