<div class="register">
    <div class="row g-0">
        <div class="col-md-6 register-img">
            <!-- <img src="./assets/images/login.jpg" alt="" height="980px" width="915px"> -->
        </div>
        <div class="col-md-6">
            <div class="card">
                <a href="#" class="mb-2 text-center">
                    <img src="./assets/images/logo.png" alt="" class="img-fluid me-2" width="70px">
                    <img src="./assets/images/norscot1.png" alt="" class="img-fluid" width="150px">
                </a>
                <form>
                    <div class="row add justify-content-center">
                        <div class="col-md-8 col-12 mt-4">
                            <div class="bg-input p-1 border-bottom-blue">
                                <label for="" class="form-label ps-2">First Name</label>
                                <div class="row g-0">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-12 mt-4">
                            <div class="bg-input p-1 border-bottom-blue">
                                <label for="" class="form-label ps-2">Last Name</label>
                                <div class="row g-0">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-12 mt-4">
                            <div class="bg-input p-1 border-bottom-blue">
                                <label for="" class="form-label ps-2">Mobile</label>
                                <div class="row g-0">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-12 mt-4">
                            <div class="bg-input p-1 border-bottom-blue">
                                <label for="" class="form-label ps-2">Email</label>
                                <div class="row g-0">
                                    <div class="col-md-12">
                                        <input  type="email" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-12 mt-4">
                            <div class="bg-input p-1 border-bottom-blue">
                                <label for="" class="form-label ps-2">Password</label>
                                <div class="row g-0">
                                    <div class="col-md-11">
                                        <input type="password" class="form-control">
                                    </div>
                                    <div class="col-md-1">
                                        <img src="./assets/icons/eye.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="text-danger mt-2 col-md-7">
                            <li>Use a mixture of upper- and lowercase</li>
                            <li>Use a combination of letters and numbers</li>
                            <li>Inclusion of at least one special character, e.g., ! @ # ? ]</li>
                        </ul>
                    </div>
                    <div class="col-md-12 text-center mt-3" routerLink="/setting/first-setup">
                        <button class="register-btn col-md-4 col-6 py-2">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
