<div class="row py-4 px-5 title-border">
    <div class="col-md-4 p-0">
        <h1 class="view-h1 pt-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Department Master">Department
        </h1>
    </div>
    <div class="col-md-4 text-start d-flex">
        <div class="search-border d-flex br-5 w-100">
            <img src="./assets/icons/search.svg" alt="" class="bg-search ps-3" height="35px" width="35px">
            <input [formControl]="searchText" class="form-control form-control-lg w-100 py-2" type="search"
                placeholder="Search...">
        </div>
    </div>
    <div *ngIf=" this.permission.add_department" class="col-md-4 d-flex justify-content-end align-items-center pb-2">
        <span class="">
            <a class="add-button" uk-toggle="target: #add-department" type="button">
                <img class="icon-display mb-1" src="./assets/icons/plus.svg" height="15px" width="15px">
                <span class="add-btn ms-2">Add Department</span>
            </a>
        </span>
    </div>
    <!--  <div class="border-2pxblue"></div> -->
</div>
<div class="row mx-4">
    <div class="view-table px-4 py-3" *ngIf="departmentData?.length > 0 && !loader">
        <table class="data-table table">
            <thead>
                <tr>
                    <th scope="col">Department Name</th>
                    <th scope="col">Manager Name</th>
                    <th scope="col">Parent Department</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let data of departmentData | paginate: { itemsPerPage: limit, currentPage: currentPage, totalItems: count  };let i = index">
                    <td style="text-transform: capitalize;">{{data.department_name}}</td>
                    <td style="text-transform: capitalize;">{{data?.manager_data?.first_name}}
                        {{data?.manager_data?.last_name}}
                    </td>
                    <td style="text-transform: capitalize;">{{data.parent_department}}</td>
                    <td class="cursor-pointer table-options">
                        <button *ngIf="permission.edit_department || permission.delete_department"
                            class="w-100 bg-white border-0"><img style="size: 4px;" src="./assets/icons/more2.svg"
                                alt=""></button>
                        <!-- <i class="fa fa-ellipsis-v" aria-hidden="true"></i> -->
                        <div uk-dropdown="mode: click;pos: bottom-right" class="dd-min-width">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li *ngIf="this.permission.edit_department" class="">
                                    <a class="uk-dropdown-close justify-content-center"
                                        (click)="openEdit(data)">Edit</a>
                                </li>
                                <li *ngIf="this.permission.delete_department" class="">
                                    <a class="uk-dropdown-close justify-content-center"
                                        (click)="deleteDepartment(data)">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row mt-4 mb-1">
            <div class="d-flex justify-content-center">
                <!-- <span for="" class="me-2 mt-2"  style="font-weight: 300;">Items Per Page :</span> 
                <ng-select class="form-control-pagination">
                    <ng-option>1</ng-option>
                    <ng-option>2</ng-option>
                    <ng-option>3</ng-option>
                </ng-select> -->
                <pagination-controls class=" mt-2" (pageChange)="onPageChange($event)"></pagination-controls>
            </div>
        </div>
    </div>
    <div class="no-data" *ngIf="departmentData.length == 0 && !loader">
        <div class="text-center">
            <div class="text-center">
                <img src="./assets/images/no-data-1.png" alt="" class="mx-auto">
            </div>
            <h3 class="">No Data Yet...</h3>
            <span>Be the first one to add</span>
        </div>
    </div>
    <app-loader *ngIf="loader"></app-loader>
</div>

<app-add-department></app-add-department>