.date-box {
  border: 1px solid #cecccc;
  width: 14%;
  height: 141px;
  border-radius: 6px;
  background-color: #fff;
}

.weeks {
  width: 14%;
}

.date-box span,
.weeks span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.022em;
  color: #000000;
  padding-top: 5px;
}

.weekends {
  border: 1px solid #fade4e;
  background: rgb(246, 248, 218);
}

.present {
  // background: rgba(62, 184, 89, 0.1);
  // text-align: center;
  // border-left: 3px solid #3eb859;
  // border-radius: 1px;
  color: #3eb859;
}

.absent {
  background: rgba(193, 18, 31, 0.08);
  border-radius: 1px;
  border-left: 4px solid #c1121f;
  text-align: center;
}

.latemark {
  background: rgba(193, 18, 31, 0.08);
  border-radius: 1px;
  border-left: 4px solid #f2ff00;
  text-align: center;
}

.status span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: -0.022em;
  color: #333333;
}

.fc .fc-scroller-harness {
  direction: ltr;
  // overflow: hidden;
  position: relative;
}

.calendar {
  background: #ffffff;
  box-shadow: 0px 4.80328px 38.4262px rgb(0 0 0 / 5%);
  border-radius: 6.0041px;
}

.reason {
  background: #FFFFFF;
  box-shadow: 0px 4px 49.0492px rgba(0, 0, 0, 0.04);
  border-radius: 7.66393px;
  height: 590px;
}

.wow {
  z-index: -1;
  border-radius: 3px;
  padding: 10px 25px;
  margin: 10px;

  position: relative;
  height: 40px;
}

.reason span {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  // line-height: 11px;
  color: #333333;
  // position: absolute;
  // transform: translate(37px, -37px);
}

.counts {
  background: #FFFFFF;
  box-shadow: 0px 5.34759px 65.5738px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  width: 100%;
  overflow-x: auto;
  height: auto;
  overflow-y: hidden;
}

.counts .overcount div {
  width: 10.28%;
  min-width: 10.28%;
  text-align: center;
  padding: 10px 0;
  // display: grid;
  //   justify-content: center;
  //   align-items: center;
}

h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.counts p {
  width: 30px;
  height: 30px;
  color: #000000;
  margin-bottom: 10px;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #f8f8f8;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 12px !important;
}

h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.overcount {
  box-shadow: none;
}

.overcount span {
  font-size: 15px;
  font-weight: 300;
}