<!-- <div class="px-4 pt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb ps-3">
          <li class="breadcrumb-item"><a href="#" routerLink="/attendance">Attendance</a></li>
          <li class="breadcrumb-item active" aria-current="page">Weekly Offs</li>
        </ol>
      </nav>
</div> -->
<div class="row pt-4 px-5">
    <div class="col-md-6 p-0">
        <h1 class="view-h1">Weekly Offs</h1>
    </div>
    <!-- <div class="border-2pxblue mt-2"></div> -->
</div>
<div class="row add px-4">
    <div class="col-md-4 px-4 mt-5">
        <div class="bg-input bg-white p-1 border-bottom-blue">
            <label for="" class="form-label ps-2">Organization level weekly working days</label>
            <div class="row g-0">
                <div class="col-md-12">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>