<div class="" id="sidenav">
    <app-navbar></app-navbar>
    <div class="row flex-nowrap">
        <div class="col-auto px-0">
            <app-sidebar></app-sidebar>
        </div>
        <main class="col p-0 bg-main" id="content">
            <!-- <div class="mb-2" uk-grid *ngIf="!isNotification">
                <div class="uk-text-left uk-width-1-3">
                    <div class="uk-margin">
                        <p class="mb-1">Masters / {{currentRoute?.name}}</p>
                        <h4 class="no-margin">{{moduleRoute | titlecase}}</h4>
                    </div>
                </div>
                <div *ngIf="!disableMasterSearch" class="uk-text-center uk-width-1-3">
                    <div class="uk-margin">
                        <form class="nav-search-bar">
                            <input 
                                class="uk-input uk-form-width-large search-placeholder height-50" placeholder="{{currentRoute?.name}}" type="text">
                        </form>
                    </div>
                </div>
    
                <div class="uk-text-right uk-width-1-3 mt-5 mb-2">
                    <div *ngIf="(currentRoute != undefined || currentRoute != null) && currentRoute?.addRoute != null"
                        class="uk-margin">
                        <a *ngIf="!disableMasterSearch && access?.[currentRoute.addAccessName]" class="add-button"
                            href="#{{currentRoute?.addRoute}}" (click)="masterAdd()" uk-toggle>
                            <img class="icon-display mb-2" src="./assets/icons/add.svg">
                            <span class="add-btn ml-2">{{currentRoute?.name}}</span>
                        </a>
                    </div>
                </div>
            </div> -->
            <router-outlet></router-outlet>
        </main>
    </div>
</div>
<app-footer></app-footer>