<section class="bg-white box-shadow px-4 py-3">
    <form action="">
        <fieldset class="uk-fieldset">
            <div class="row add">
                <div class="col-md-3 px-3 mt-5">
                    <div class="bg-input p-1 border-bottom-blue">
                        <label for="" class="form-label ps-2">Health Insurance Name</label>
                        <div class="row g-0">
                            <div class="col-md-11">
                                <ng-select [clearable]="false">
                                    <ng-option>1</ng-option>
                                    <ng-option>2</ng-option>
                                    <ng-option>3</ng-option>
                                </ng-select>
                            </div>
                            <div class="col-md-1">
                                <img src="./assets/icons/arrow-dropdown.svg" alt="" width="25px" height="25px" class="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-3 px-3 mt-5">
                    <div class="bg-input p-1 border-bottom-blue">
                        <label for="" class="form-label ps-2">Health Insurance Provider</label>
                        <div class="row g-0">
                            <div class="col-md-11">
                                <ng-select>
                                    <ng-option>1</ng-option>
                                    <ng-option>2</ng-option>
                                    <ng-option>3</ng-option>
                                </ng-select>
                            </div>
                            <div class="col-md-1">
                                <img src="./assets/icons/arrow-dropdown.svg" alt="" width="25px" height="25px" class="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 px-3 mt-5">
                    <div class="bg-input p-1 border-bottom-blue">
                        <label for="" class="form-label ps-2">Employee Health Insurance List</label>
                        <div class="row g-0">
                            <div class="col-md-11">
                                <ng-select>
                                    <ng-option>1</ng-option>
                                    <ng-option>2</ng-option>
                                    <ng-option>3</ng-option>
                                </ng-select>
                            </div>
                            <div class="col-md-1">
                                <img src="./assets/icons/arrow-dropdown.svg" alt="" width="25px" height="25px" class="">
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </fieldset>
    </form>
</section>
