<div class="modal fade" id="add-tax-exemption" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="text-end px-3 py-3">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row px-5">
                <div class="text-center  col-12 title-border card-title-border">
                    <h1>Add Tax Exemption Master</h1>
                </div>
            </div>
            <div class="row mx-4">
                <div class="px-4 py-3">
                    <div class="">
                        <form action="">
                            <fieldset class="uk-fieldset pl-4">
                                <div class="row add">
                                    <div class="col-md-6 px-3 mt-5">
                                        <div class="bg-input p-1 border-bottom-blue">
                                            <label for="" class="form-label ps-2">Tax Exemption Category</label>
                                            <div class="row g-0">
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 px-3 mt-5">
                                        <div class="bg-input p-1 border-bottom-blue">
                                            <label for="" class="form-label ps-2">Max Amount</label>
                                            <div class="row g-0">
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="col-md-12 d-flex justify-content-center text-end mt-5">
                                <div class="px-3 cancel">
                                    <button class="cancel-button px-3">
                                        <img class="icon-display mb-1" src="./assets/icons/cancel.svg" height="15px"
                                            width="15px">
                                        <span class="cancel-btn ms-2">Cancel</span>
                                    </button>
                                </div>
                                <div class="">
                                    <button class="add-button px-3">
                                        <img class="icon-display mb-1" src="./assets/icons/save-btn.svg" height="15px"
                                            width="15px">
                                        <span class="add-btn ms-2">Save</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>