<div class="row py-4 px-5 title-border">
    <div class="col-md-12 pb-2 ps-0">
        <h1 class="view-h1 pt-2">Setup</h1>
    </div>
    <!-- <div class="border-2pxblue mt-1"></div> -->
</div>
<div class="row px-5 py-5 pt-3">
    <div class="col-md-4">
        <h2>General</h2>
        <a href="" routerLink="/masters/manage-company" class="nav-link">Company Details</a>
        <a href="" routerLink="/setting/letterhead" class="nav-link">Letter Head</a>
        <a href="" routerLink="/masters/manage-template" class="nav-link">Template</a>
    </div>
    <div class="col-md-4">
        <h2>Organization</h2>
        <a href="" routerLink="/masters/manage-branch" class="nav-link">Branch</a>
        <a href="" routerLink="/masters/manage-department" class="nav-link">Department</a>
        <a href="" routerLink="/masters/manage-designation" class="nav-link">Designation</a>
        <a href="" routerLink="/masters/manage-employee" class="nav-link">Employee</a>
    </div>
    <div class="col-md-4">
        <h2>User Access Control</h2>
        <a href="" routerLink="/setting/manage-role" class="nav-link">Roles</a>
        <!-- <a href="" routerLink="/setting/form-permission" class="nav-link">Permissions</a> -->
    </div>
</div>
<div class="row px-5 py-5">
    <div class="col-md-4">
        <h2>Attendance Setup</h2>
        <!-- <a href="" routerLink="/attendance/manage-holiday-list" class="nav-link">Holiday List</a> -->
        <a href="" routerLink="/attendance/manage-shift" class="nav-link">Shift</a>
        <a href="" routerLink="/attendance/attendance-setting" class="nav-link">Attendance Setting</a>
        <a href="" routerLink="/attendance/manage-attendance-notification" class="nav-link">Attendance Notification</a>
        <a href="" routerLink="/attendance/manage-present-employee" class="nav-link">Always Present Employee</a>
        <a href="" routerLink="/attendance/late-coming" class="nav-link">Late Coming / Early Going</a>
        <a href="" routerLink="/attendance/overtime-notification" class="nav-link">Overtime Notification</a>
        <a href="" routerLink="/attendance/overtime-configuration" class="nav-link">Overtime Configuration</a>
        <a href="" routerLink="/attendance/attendance-configuration" class="nav-link">Configuration</a>
    </div>
    <div class="col-md-4">
        <h2>Leave Setup</h2>
        <a href="" routerLink="/leave-management/manage-leave-type" class="nav-link">Leave Type</a>
        <a href="" routerLink="/leave-management/manage-approval" class="nav-link">Leave Type Configuration
            -Approval</a>
        <a href="" routerLink="/leave-management/manage-leave-notification" class="nav-link">Leave Type Configuration
            -Notification</a>
        <a href="" routerLink="/leave-management/configuration" class="nav-link">Configuration</a>
    </div>
    <div class="col-md-4">
        <h2>Payroll Setup</h2>
        <a href="" routerLink="/masters/manage-salary-comp" class="nav-link">Salary Component</a>
        <!-- <a href="" routerLink="/setting/form-permission" class="nav-link">Permissions</a> -->
        <!-- <p class="main-title my-2" href="">Statutory Components</p>
        <a href="" routerLink="/payroll/manage-tax-deduction-group" class="nav-link">Tax Deduction Group</a>
        <a href="" routerLink="/payroll/manage-tax-deduction-item" class="nav-link">Tax Deduction Item</a>
        <a href="" routerLink="/payroll/manage-income-tax-slab" class="nav-link">Income Tax Slab</a>
        <a href="" routerLink="/payroll/manage-state-tax-slab" class="nav-link">State Tax Slab</a>
        <a href="" routerLink="/payroll/manage-lwf-slab" class="nav-link">LWF Slab</a>
        <a href="" routerLink="/payroll/manage-employee-provident-fund" class="nav-link">Employee Provident Fund</a>
        <a href="" routerLink="/payroll/manage-employee-state-insurance" class="nav-link">Employee State Insurance</a>
        <a href="" routerLink="/payroll/payroll-configuration" class="nav-link">Configuration</a> -->
    </div>
    <div class="col-md-4 pt-4">
        <h2>HR Setup</h2>
        <a href="" routerLink="/hr/manage-candidate" class="nav-link">Manage Candidate</a>
        <a href="" routerLink="/hr/manage-candidate-exit" class="nav-link">Exit Detail</a>
        <!-- <a href="" routerLink="/setting/form-permission" class="nav-link">Permissions</a> -->
        <!-- <p class="main-title my-2" href="">Statutory Components</p>
        <a href="" routerLink="/payroll/manage-tax-deduction-group" class="nav-link">Tax Deduction Group</a>
        <a href="" routerLink="/payroll/manage-tax-deduction-item" class="nav-link">Tax Deduction Item</a>
        <a href="" routerLink="/payroll/manage-income-tax-slab" class="nav-link">Income Tax Slab</a>
        <a href="" routerLink="/payroll/manage-state-tax-slab" class="nav-link">State Tax Slab</a>
        <a href="" routerLink="/payroll/manage-lwf-slab" class="nav-link">LWF Slab</a>
        <a href="" routerLink="/payroll/manage-employee-provident-fund" class="nav-link">Employee Provident Fund</a>
        <a href="" routerLink="/payroll/manage-employee-state-insurance" class="nav-link">Employee State Insurance</a>
        <a href="" routerLink="/payroll/payroll-configuration" class="nav-link">Configuration</a> -->
    </div>
</div>